# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS / editor junk
Thumbs.db
.vscode/

# Generated simulation results
results/
results/**

# Large mesh/raw data
data/meshes/vessel/NurbsPath.mesh

# Large media
*.mp4
*.avi
*.mov

# Phase 6 generated/test platelet meshes
data/meshes/platelet/activated_usecase1*.obj
data/meshes/platelet/activated_usecase1*.mtl